.header {
  font-size: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
